.header {
  padding: .5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #E2E8F0;

  nav {
    display: flex;
    gap: 1rem;
  }

  .buttons {
    display: flex;
    gap: .5rem;
  }
}
