.todos {
  .table-title {
    margin-bottom: 2rem;
    text-shadow: 2.5rem -1.5rem 0 rgba(#000, 0.03)
  }

  table {
    td {
      &.title {word-break: initial;}
      &.description {max-width: 35vw;}
      &.status {text-transform: capitalize;}
      &.owner {text-align: center;}
      &.edit {
        svg {
          cursor: pointer;

          &:hover {
            animation: shake .8s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }
}

@keyframes shake {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(1px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-1px, 0, 0);}
  40%, 60% {transform: translate3d(1px, 0, 0);}
}
